.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    font-size: 25px;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  .navbar__menu {
    font-size: 20px;
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    position: absolute;
    left: 260px;
  }

  .navbar__menu :hover {


  color : rgba(79, 104, 216, 0.979);
  }
  
  .navbar__menu li {
    padding: 8px 20px;
  }